<a href="https://colab.research.google.com/github/03dipak/kaggle/blob/master/us_accident.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [6]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"dipakvaidya","key":"99d03142c48615b9e2f380ea9e73f0ca"}'}

In [8]:
!mkdir ~p ~/.kaggle
!cp kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘~p’: File exists
mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [11]:
import pandas as pd
df_us_acc = pd.read_csv("/content/US_Accidents_May19.csv")
df_us_acc.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (32,33,34,35,36,37,38,39,40,41,42,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    ID    Source    TMC  ...  Civil_Twilight Nautical_Twilight Astronomical_Twilight
0  A-1  MapQuest  201.0  ...           Night             Night                 Night
1  A-2  MapQuest  201.0  ...           Night             Night                   Day
2  A-3  MapQuest  201.0  ...           Night               Day                   Day
3  A-4  MapQuest  201.0  ...             Day               Day                   Day
4  A-5  MapQuest  201.0  ...             Day               Day                   Day

[5 rows x 49 columns]

In [12]:
df_us_acc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65121 entries, 0 to 65120
Data columns (total 49 columns):
ID                       65121 non-null object
Source                   65121 non-null object
TMC                      65121 non-null float64
Severity                 65121 non-null int64
Start_Time               65121 non-null object
End_Time                 65121 non-null object
Start_Lat                65121 non-null float64
Start_Lng                65121 non-null float64
End_Lat                  0 non-null float64
End_Lng                  0 non-null float64
Distance(mi)             65121 non-null float64
Description              65121 non-null object
Number                   15965 non-null float64
Street                   65121 non-null object
Side                     65120 non-null object
City                     65120 non-null object
County                   65120 non-null object
State                    65120 non-null object
Zipcode                  65113 non-null object
Country                  65120 non-null object
Timezone                 65113 non-null object
Airport_Code             64138 non-null object
Weather_Timestamp        63982 non-null object
Temperature(F)           63663 non-null float64
Wind_Chill(F)            2579 non-null float64
Humidity(%)              63443 non-null float64
Pressure(in)             63877 non-null float64
Visibility(mi)           63368 non-null float64
Wind_Direction           63982 non-null object
Wind_Speed(mph)          50972 non-null float64
Precipitation(in)        4958 non-null float64
Weather_Condition        63575 non-null object
Amenity                  65120 non-null object
Bump                     65120 non-null object
Crossing                 65120 non-null object
Give_Way                 65120 non-null object
Junction                 65120 non-null object
No_Exit                  65120 non-null object
Railway                  65120 non-null object
Roundabout               65120 non-null object
Station                  65120 non-null object
Stop                     65120 non-null object
Traffic_Calming          65120 non-null object
Traffic_Signal           65120 non-null object
Turning_Loop             65120 non-null object
Sunrise_Sunset           65120 non-null object
Civil_Twilight           65120 non-null object
Nautical_Twilight        65120 non-null object
Astronomical_Twilight    65120 non-null object
dtypes: float64(14), int64(1), object(34)
memory usage: 24.3+ MB

In [0]:
df_us_acc.drop(columns=['End_Lat','End_Lng'],inplace=True)

In [16]:
df_us_acc[['Wind_Chill(F)','Precipitation(in)']].head()

   Wind_Chill(F)  Precipitation(in)
0            NaN               0.02
1            NaN               0.00
2           33.3                NaN
3           31.0                NaN
4           33.3                NaN